body{
    background-color: aqua;
}

#divfirst{
    width: 250px;
    background: silver;
    border-radius: 5%;
    shape-margin: 5%;
}

#mply{
    background: yellow;
}
#dived{
background: blue;
}

#modulo{
    background: green;
}
#clear{
    background: red;
}
